project_id       = "GCP_PROJECT_ID"
region           = "asia-south1"
zone             = "asia-south1-a"
machine_type     = "e2-micro"
ssh_user         = "USER_NAME"

# Replace with your own current public IP.
ssh_source_cidr  = "ID_SIDER"

# Never commit terraform.tfvars.
# Percent-encode reserved characters in the username/password.
mongodb_uri      = "mongodb+srv://USERNAME:ENCODED_PASSWORD@cluster1.example.mongodb.net/?retryWrites=true&w=majority&appName=Cluster1"
mongodb_database = "user_registration"
